@import './fonts.scss';

//reset 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

//variables
$border:  #8a2be2;
$background:  #3c4770;
$main-font:'Poppins';
$text-font:'Open Sans', sans-serif;
$focus-color: #dda7d4;

//mixins
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin plain-text{
  font-family: $text-font;
  font-size: 16px;
  color:whitesmoke;
   line-height: 1.4rem;
    padding: 0.2rem 0 0.5rem 0;
}

@mixin titles{
  font-family: $main-font;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  color:azure
}

@mixin sub-title{
  font-family: $text-font;
  font-size:0.8rem;
  color: rgb(189, 189, 189);
}

.router-link-active .router-link-exact-active {
  background-color: pink;
}

.title {
  @include titles;
  text-align: center;
}

p {
 @include plain-text;
}

.linkButton {
  cursor: pointer;
}


